@tailwind base;
@tailwind components;
@tailwind utilities;

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Spartan', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f6f7f8;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}

#paymentsPage button {
margin: 5px;
  border: 1px solid;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  color: rgb(36 84 155);
  padding-right: 3rem;
  border-color: rgb(36 84 155);
  border-radius: 0.5rem;
  --tw-text-opacity: 1;
}

#billFinder *,
#billPayment *{
  margin: 5px;
}

.BuyPrice{
  border-bottom: 2px solid;
  border-color: rgb(36 84 155);
  padding-bottom: 16px;
}